:root {
  --color-primary: #ff900e;
  --color-secondary: #ff900e1a;
  --dark-01: #131313;
  --dark-02: #424242;
  --dark-03: #727272;
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Wark sans", sans-serif;
  overflow-x: hidden;
}

body a {
  text-decoration: none;
}

/* body img {
  width: 100%;
} */

/* ***************** */
/* GENERAL STYLES */
/* ***************** */
.container {
  max-width: 140rem;
  margin: 0 auto 13rem;
}

.heading__secondary {
  color: var(--dark-01);
  font-size: 4rem;
  font-weight: 700;
}

.heading__tertiary {
  color: var(--dark-01);
  font-size: 2rem;
  font-weight: 600;
}

.paragraph {
  color: var(--dark-03);
  font-size: 1.6rem;
  line-height: 26px; /* 162.5% */
}

.btn,
.btn:link,
.btn:active {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 8px;
  background: var(--color-primary);
  color: #fff;
  padding: 1.5rem 3rem;

  /* button */
  cursor: pointer;
  border: none;
  outline: none;
}

.mb-lg {
  margin-bottom: 32px;
}

.mb-md {
  margin-bottom: 24px;
}

.mb-sm {
  margin-bottom: 16px;
}

/* ***************** */
/* HEADER */
/* ***************** */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 8rem;
  background-color: var(--color-secondary);
}

.header__logo {
  color: var(--dark-01);
  text-align: center;

  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header__link {
  color: var(--dark-02);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem; /* 144.444% */
}

.mobile-nav {
  display: none;
}

/* ***************** */
/* HERO SECTION */
/* ***************** */
.section-hero {
  background-color: var(--color-secondary);
  padding: 4rem 15rem;
}

.hero__content {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  color: var(--dark-01);
  font-size: 5.4rem;
  font-weight: 700;
}

.hero__img-box {
  margin-top: 5rem;
}

.hero__img {
  width: 100%;
}

/* ***************** */
/* FEATURES SECTION */
/* ***************** */
.section-features {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
  margin-top: 8rem;
}

.features__gallery {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.8rem;
  max-width: calc(2 * 32rem + 2.4rem);
}

.features__img {
  width: 32rem;
  height: 32rem;
}

.features__content {
  max-width: 50rem;
}

.features__content h2 .gray {
  color: var(--dark-03);
  font-size: 3.6rem;
  font-weight: 500;
}

.features__content h2 .yellow {
  color: var(--color-primary);
}

/* ***************** */
/* QUICK LIST SECTION */
/* ***************** */
.section-quick-list {
  position: relative;
  display: flex;
  gap: 6rem;
}

.quick-list__content {
  max-width: 60rem;
}

.quick-list__content .heading__secondary {
  position: relative;
  padding-left: 1.6rem;
}

.quick-list__content .heading__secondary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: var(--color-primary);
}

.quick-list__features {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  margin-top: 6rem;
}

.quick-list__feature {
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.section-quick-list .btn {
  position: absolute;
  left: 53%;
  bottom: 0;
  transform: translate(-50%, 40%);
  color: #fff;
  font-size: 5.4rem;
  font-weight: 700;
  padding: 4rem;
  line-height: 7rem; /* 107.692% */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-quick-list .btn span {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 40px;
}

.section-quick-list img {
  width: 100%;
}

/* ***************** */
/* FACTS SECTION */
/* ***************** */
.section-facts {
  margin-top: 6rem;
}

.facts__text {
  max-width: 50rem;
  margin-bottom: 10rem;
}

.facts__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 14rem;
  row-gap: 4rem;
}

.fact {
  padding: 5rem 3rem;
  border-radius: 8px;
  border: 1px solid #ff900e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fact__img {
  width: 4.5rem;
  height: 4.5rem;
  object-fit: contain;
}

.fact__number {
  color: var(--dark-02);
  font-size: 4.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.fact__label {
  color: var(--dark-03);
  font-size: 1.8rem;
  font-weight: 600;
}

/* ***************** */
/* SPONSORS SECTION */
/* ***************** */
.sponsors__content {
  text-align: center;
  max-width: 50rem;
  margin: 0 auto 5rem;
}

.sponsors__logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.5rem, 1fr));
  gap: 2rem;
}

.sponsors__logos img {
  justify-self: center;
  width: 16.5rem;
  object-fit: contain;
  filter: brightness(0);
  opacity: 50%;
}

/* ***************** */
/* FOOTER SECTION */
/* ***************** */

.footer {
  text-align: center;
  background-color: var(--color-secondary);
  padding: 4rem;
  border-radius: 8px;
}
